.profile {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: #202020;

  padding: 74px 0 70px 0;
  margin: 0;
}

.profile__form {
  width: 100%;
  max-width: 410px;

  margin: 0 30px 0 30px;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: #ffffff;

  margin: 0;
  padding: 0;
}

.profile__input-field {
  border: none;

  display: flex;
  flex-direction: column;

  margin: 123px 0 0 0;
}

.profile__button-field {
  border: none;

  display: flex;
  flex-direction: column;

  margin: 220px 0 0 0;
}

.profile__block {
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__block_name {
  border-bottom: 1px solid #424242;

  padding-bottom: 15px;

  margin-bottom: 16px;
}

.profile__point {
  width: 20%;

  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

  color: #ffffff;
}

.profile__input {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  text-align: right;

  color: #ffffff;

  width: 70%;
  height: 14px;

  background-color: #202020;

  border: none;

  outline: none;
}

.profile__button {
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;

  border: none;

  background-color: transparent;

  cursor: pointer;

  padding: 0;
  margin: 0;
}

.profile__button_logout {
  color: #ee3465;

  margin: 16px 0 0 0;
}

@media screen and (max-width: 881px) {
  .profile__input-field {
    margin: 96px 0 0 0;
  }

  .profile__button-field {
    margin: 210px 0 0 0;
  }
}

@media screen and (max-width: 441px) {
  .profile {
    padding: 70px 0 0 0;
  }

  .profile__input-field {
    margin: 80px 0 0 0;
  }

  .profile__button-field {
    margin: 379px 0 0 0;
  }
}
