.header {
  display: flex;
  align-items: center;
}

.header_main {
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  min-height: 74px;

  background-color: #202020;

  padding: 18px 70px;
  margin: 0;
}

.header_register {
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;
  max-width: 396px;
  min-height: 148px;

  background-color: #202020;

  padding: 70px 0 40px 0;
  margin: 0;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
}

.header__container {
  display: flex;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 58px;
  height: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-decoration: none;
  color: #ffffff;
}

.header__link-main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.header__link_signin {
  background-color: #3ddc84;
  border-radius: 3px;

  color: #000000;

  margin: 0 0 0 30px;
}

.header__link_movies {
  font-size: 14px;
  line-height: 18px;

  margin: 0 0 0 20px;
}

.header__link_profile {
  margin: 0 0 0 50px;
}

.header__link_inactive {
  font-weight: 400;
}

.header__profile-icon {
  width: 26px;
  height: 30px;
  border-radius: 4px;

  background-color: #313131;
  background-image: url(../../images/profile.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin: 0 0 0 17px;
}

.header__menu-button {
  width: 44px;
  height: 44px;

  background-color: transparent;
  background-image: url(../../images/burger.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: none;

  cursor: pointer;

  padding: 0;
  margin: 0;

  display: none;
}

@media screen and (max-width: 881px) {
  .header_main {
    padding: 18px 30px;
  }

  .header_register {
    padding-top: 23vh;
  }
}

@media screen and (max-width: 641px) {
  .header_register {
    padding: 56px 0 50px 0;
    justify-content: center;
  }
}

@media screen and (max-width: 441px) {
  .header_main {
    padding: 18px 14px;
  }

  .header__link {
    font-size: 10px;
  }

  .header_register {
    padding: 56px 0 50px 0;
    justify-content: center;
  }
}
