.register {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: fit-content;

  background-color: #202020;

  padding: 0;
  margin: 0;
}

.register__form {
  width: 100%;
  max-width: 396px;
  height: 100%;

  margin: 0 30px 0 30px;
}

.register__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;

  padding: 0 0 20px 0;
  margin: 0;
}

.register__input-field {
  border: none;

  display: flex;
  flex-direction: column;

  margin: 0 0 0 0;
}

.register__label {
  display: flex;
  flex-direction: column;

  margin: 20px 0 0 0;
}

.register__point {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #8b8b8b;

  margin: 0 0 10px 0;
}

.register__input {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  text-align: left;

  color: #ffffff;

  width: 100%;
  height: 46px;
  box-sizing: border-box;

  background-color: #2f2f2f;

  border: none;
  border-radius: 8px;

  outline: none;

  padding: 15px;
}

.register__input_error {
  color: #ee3465;
}

.register__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ee3465;

  display: none;

  margin: 10px 0 0 0;
}

.register__error_active {
  display: block;
}

.register__button-field {
  border: none;

  display: flex;
  flex-direction: column;

  margin: 69px 0 0 0;

  transition: 0.7s;
}

.register__button-field-login {
  margin-top: 157px;
}

.register__button {
  width: 100%;
  height: 45px;
  border-radius: 3px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  background-color: #4285f4;

  color: #ffffff;

  border: none;

  cursor: pointer;

  padding: 0;
  margin: 0;
}

.register__question {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #8b8b8b;

  padding: 0;
  margin: 0;
}

.register__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  text-decoration: none;

  color: #4285f4;

  padding: 0;
  margin: 0 0 0 6px;
}

.register__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 16px 0 16px 0;
}

@media screen and (max-height: 650px) {
  .register__button-field {
    margin-top: 30px;
  }
}

@media screen and (max-width: 641px) {
  .register__title {
    text-align: center;

    padding: 0 0 60px 0;
  }

  .register__button {
    font-size: 12px;
    line-height: 15px;
  }

  .register__question {
    font-size: 12px;
    line-height: 15px;
  }

  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
