.search {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #202020;

  margin: 0;
  padding: 70px 70px 0 70px;
}

.search__image {
  width: 34px;
  height: 34px;

  margin: 19px 10px 19px 19px;
}

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1140px;
  height: 72px;

  border-radius: 9px;

  background-color: #2f2f2f;

  margin: 0;
  padding: 0;
}

.search__main-group {
  width: 100%;
  flex-basis: auto;
  height: 100%;
  box-sizing: border-box;

  margin: 0;

  display: flex;
  align-items: center;

  border: none;
}

.search__input {
  width: 100%;
  height: 34px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #8b8b8b;
  background-color: #2f2f2f;
  outline-color: #363636;

  border: none;

  margin: 0;
  padding: 0;
}

.search__input:focus {
  outline: 1px solid #363636;
  border-radius: 5px;
}

.search__button {
  min-width: 59px;
  height: 34px;

  border: none;
  border-radius: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;

  text-align: center;

  color: #ffffff;
  background-color: #4285f4;

  cursor: pointer;

  margin: 0 30px 0 21px;
  padding: 0;
}

.search__switch-group {
  flex-basis: 25%;
  height: 100%;
  box-sizing: border-box;

  margin: 0;

  display: flex;
  align-items: center;

  border: none;
}

.search__switch {
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-left: 1px solid #424242;

  margin: 0 20px 0 0;
}

.search__checkbox {
  position: relative;

  width: 36px;
  height: 20px;

  -webkit-appearance: none;

  background-color: #202020;
  outline: none;

  border-radius: 10px;

  cursor: pointer;

  margin: 0 14px 0 29px;
}

.search__checkbox::before {
  content: ' ';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  top: 0;
  left: 0;

  background-color: #ffffff;

  transition: 0.7s;
}

.search__checkbox:checked::before {
  left: 18px;

  background-color: #3ddc84;

  transition: 0.7s;
}

.search__label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  color: #ffffff;
}

.search__line {
  width: 100%;
  height: 1px;

  border: none;
  background-color: #424242;

  margin: 69px 0 10px 0;
  padding: 0;
}

@media screen and (max-width: 881px) {
  .search {
    padding: 80px 30px 0 30px;
  }

  .search__line {
    margin: 109px 0 10px 0;
  }
}

@media screen and (max-width: 641px) {
  .search__form {
    flex-direction: column;
    gap: 46px;
    height: fit-content;
  }

  .search__form {
    background-color: transparent;
  }

  .search__main-group {
    border-radius: 9px;

    background-color: #2f2f2f;
  }

  .search__switch {
    border-left: none;

    margin: 0;
  }

  .search__checkbox {
    background-color: #2f2f2f;

    margin: 0 14px 0 0;
  }

  .search__image {
    display: none;
  }

  .search__input {
    height: 72px;

    border-radius: 9px;

    padding-left: 19px;
  }

  .search__button {
    margin-right: 19px;
  }

  .search__line {
    background-color: #424242;

    margin: 44px 0 10px 0;
  }
}

@media screen and (max-width: 441px) {
  .search {
    padding: 80px 10px 0 10px;
  }
}
